:root {
    --main-ff: "Montserrat", sans-serif;
    --logo-ff: 'Sarina', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    overflow-x: hidden;
}

.fourth-day {
    overflow-x: hidden;
}



/* Tablet Size */
@media (min-width: 426px) and (max-width: 768px){
    
}


/* Laptop Size */
@media (min-width: 769px){
    @keyframes changeBg {
        0% {
            background-image: url('./images/hero-image1.svg');
        }
        33% {
            background-image: url('./images/hero-image2.svg');
        }
        66% {
            background-image: url('./images/hero-image3.svg');
        }
        100% {
            background-image: url('./images/hero-image1.svg');
        }
    }
    p,h1,h2 {
        font-family: var(--main-ff);
    }


    .hero {
        width: 100vw;
        height: 100vh;
        position: relative;
    }

    .gradient-glass {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        opacity: 100%;
        z-index: 0;
    }

    .changing-bg {
        width: 100vw;
        height: 100vh;
        animation: changeBg 15s infinite;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: background-image 2s ease-in-out;
        opacity: 0.2;
        position: absolute;
        z-index: 1;
    }

    .logo-name {
        color: #FFFFFF;
        padding-top: 25px;
        margin-bottom: 60px;
        font-family: var(--logo-ff);
        font-size: 25px;
        text-shadow: 0 2.46px 2.46px rgba(0, 0, 0, 0.25);
        text-align: center;
        z-index: 2;
        opacity: 1;
        position: relative;
    }

    .hero-contents {
        /* outline: 1px solid lime; */
        width: 80vw;
        height: 80vh;
        margin: auto;
        position: relative;
        z-index: 2;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    .hero-heading-top {
        width: 600px;
        margin: 0 auto -60px auto;
        z-index: 3;
    }

    .hero-heading-bottom {
        width: 300px;
        margin: -25px auto 0px auto;
        z-index: 2;
    }

    .photo-card {
        position: absolute;
        z-index: 1;
    }

    .day-tag {
        width: 120px;
        padding: 9px 20px;
        text-align: center;
        border: 3px solid #FAEFD9;
        border-radius: 10px;
        background-color: #FFCEEB;
        z-index: 2;
        position: relative;
    }

    .day-tag > p {
        color: #EA5701;
        font-size: 21px;
        font-weight: 800;
    }
    
    .day1 {
        top: 0px;
    }

    .tag1 {
        margin: 0px 0px -80px 180px;
    }

    .day1-img {
        margin-left: 40px;
        width: 350px;
        z-index: 1;
        position: relative;
    }

    .day2 {
        top: 0px;
        left: 30%;
    }

    .tag2 {
        margin: -25px 0px -60px 180px;
    }

    .day2-img {
        margin-left: 100px;
        width: 250px;
        z-index: 1;
        position: relative;
    }

    .day3 {
        top: 35px;
        right: 70px;
    }

    .tag3 {
        margin: -25px 0px -60px 180px;
    }

    .day3-img {
        margin-left: 100px;
        width: 350px;
        z-index: 1;
        position: relative;
    }

    .day4 {
        bottom: 0px;
        left: 70px;
    }

    .tag4 {
        margin: 0px 0px -220px 50px;
    }

    .day4-img {
        margin-left: 100px;
        width: 250px;
        z-index: 1;
        position: relative;
    }

    .day5 {
        bottom: -10px;
        right: 400px;
    }

    .tag5 {
        margin: 0px 0px -240px 50px;
    }

    .day5-img {
        margin-left: 100px;
        width: 250px;
        z-index: 1;
        position: relative;
    }

    .day6 {
        bottom: -10px;
        right: 50px;
    }

    .tag6 {
        margin: 0px 0px -90px 250px;
    }

    .day6-img {
        margin-left: 100px;
        width: 300px;
        z-index: 1;
        position: relative;
    }

    /* FOURTH DAY */
    .fourth-day {
        width: 100vw;
        height: 100vh;
        background-color: #FFCEEB;
        display: flex;
        flex-direction: row;
    }

    .fourth-day-text {
        width: 40%;
        padding: 50px 90px;
        position: relative;
    }

    .fourth-day-image1 {
        width: 60%;
        transform: translateX(130px);
    }

    .fourth-day-image2 {
        width: 250px;
        display: block;
        position: absolute;
        top: 0;
        right: -400px;
        z-index: 2;
    }

    .fourth-day-image3 {
        width: 400px;
        display: block;
        position: absolute;
        bottom: 0;
        left: 250px;
    }

    .day-four {
        font-size: 95px;
        font-weight: 700;
        color: #EA5701;
        margin-bottom: -20px;
    }

    .day-four-loc {
        font-size: 42px;
        font-weight: 700;
        color: #EA5701;
    }

    .day-four-date {
        font-size: 24px;
        font-weight: 600;
        color: #EA5701;
        margin-bottom: 19px;
    }

    .day-four-context {
        font-size: 18px;
        font-weight: 500;
    }
}