:root {
    --main-ff: "Montserrat", sans-serif;
    --logo-ff: 'Sarina', sans-serif;
    --primary-color: #5D0246;
    --card-bg-color: #FFDCDC;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

.first-day,
.second-day,
.third-day,
.fourth-day,
.fifth-six-day {
    background-image: url("./images/background.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h2, h3, .date {
    color: var(--primary-color);
}

/* Tablet Size */
@media (min-width: 426px) and (max-width: 768px) {
    /* Add tablet styles here */
}

/* Laptop Size */
@media (min-width: 769px) {
    @keyframes changeBg {
        0% { background-image: url('./images/hero-image1.svg'); }
        33% { background-image: url('./images/hero-image2.svg'); }
        66% { background-image: url('./images/hero-image3.svg'); }
        100% { background-image: url('./images/hero-image1.svg'); }
    }
    
    p, h1, h2, h3 {
        font-family: var(--main-ff);
    }

    p {
        font-size: 18px;
        line-height: 1.5;
    }

    /* Hero Section */
    .hero {
        width: 100vw;
        height: 100vh;
        position: relative;
    }

    .gradient-glass {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        opacity: 1;
        z-index: 0;
    }

    .changing-bg {
        width: 100vw;
        height: 100vh;
        animation: changeBg 15s infinite;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: background-image 2s ease-in-out;
        opacity: 0.2;
        position: absolute;
        z-index: 1;
    }

    .logo-name {
        color: #FFFFFF;
        padding-top: 25px;
        margin-bottom: 60px;
        font-family: var(--logo-ff);
        font-size: 25px;
        text-shadow: 0 2.46px 2.46px rgba(0, 0, 0, 0.25);
        text-align: center;
        z-index: 2;
        position: relative;
    }

    .hero-contents {
        width: 80vw;
        height: 80vh;
        margin: auto;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    .hero-heading-top {
        width: 500px;
        margin: -70px auto 0px auto;
        z-index: 3;
    }

    .hero-heading-bottom {
        width: 250px;
        margin: -70px auto 0px auto;
        z-index: 2;
    }

    /* Photo Cards */
    .photo-card {
        position: absolute;
        z-index: 1;
    }

    .day-tag {
        width: 120px;
        padding: 4px 8px;
        text-align: center;
        border: 3px solid #FAEFD9;
        border-radius: 10px;
        background-color: #FFD6BA;
        z-index: 2;
        position: relative;
    }

    .day-tag > p {
        color: var(--primary-color);
        font-size: 18px;
        font-weight: 800;
        opacity: 0.6;
    }
    
    /* Day 1 */
    .day1 {
        top: 0px;
    }

    .tag1 {
        margin: 0px 0px -80px 200px;
    }

    .day1-img {
        margin-left: 80px;
        width: 300px;
        z-index: 1;
        position: relative;
    }

    /* Day 2 */
    .day2 {
        top: 0px;
        left: 30%;
    }

    .tag2 {
        margin: -25px 0px -50px 180px;
    }

    .day2-img {
        margin-left: 125px;
        width: 200px;
        z-index: 1;
        position: relative;
    }

    /* Day 3 */
    .day3 {
        top: 45px;
        right: 120px;
    }

    .tag3 {
        margin: -25px 0px -40px 150px;
    }

    .day3-img {
        margin-left: 100px;
        width: 250px;
        z-index: 1;
        position: relative;
    }

    /* Day 4 */
    .day4 {
        bottom: 50px;
        left: 80px;
    }

    .tag4 {
        margin: 0px 0px -160px 50px;
    }

    .day4-img {
        margin-left: 100px;
        width: 200px;
        z-index: 1;
        position: relative;
    }

    /* Day 5 */
    .day5 {
        bottom: 50px;
        right: 400px;
    }

    .tag5 {
        margin: 0px 0px -190px 50px;
    }

    .day5-img {
        margin-left: 100px;
        width: 200px;
        z-index: 1;
        position: relative;
    }

    /* Day 6 */
    .day6 {
        bottom: 30px;
        right: 75px;
    }

    .tag6 {
        margin: 0px 0px -90px 250px;
    }

    .day6-img {
        margin-left: 100px;
        width: 250px;
        z-index: 1;
        position: relative;
    }

    /* FIRST DAY */
    .first-day {
        width: 100vw;
        display: flex;
        flex-direction: column;
        padding: 24px 80px;
    }

    .first-day1 {
        display: flex;
        align-items: center;
    }

    .first-day1 > img {
        width: 400px;
    }

    .first-day1 > p {
        width: 600px;
        padding: 30px;
        border-radius: 20px;
        background-color: var(--card-bg-color);
    }

    .first-day2 {
        margin-top: -100px;
        margin-bottom: -100px;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
    }

    .first-day2 > p {
        grid-column: 1;
        width: 100%;
    }

    .first-day2 > img {
        grid-column: 2;
        width: 400px;
    }

    .first-day3 {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .first-day3 > img {
        width: 400px;
    }

    .first-day3 > p {
        width: 600px;
        padding: 30px;
        border-radius: 20px;
        background-color: var(--card-bg-color);
    }

    .first-day-title > h2 {
        font-size: 70px;
        font-weight: 700;
        margin-bottom: -5px;
    }

    .first-day-title > h3 {
        font-size: 32px;
        font-weight: 700;
    }

    .first-day-title > p {
        font-size: 22px;
        font-weight: 600;
    }

    /* SECOND DAY */
    .second-day {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 90px;
    }

    .second-day-right {
        height: 100%;
        padding: 50px;
        background-color: #FFFFFF;
        margin-right: 75px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .second-day-right > img {
        width: 550px;
        height: 600px;
    }

    .second-day-right > p {
        width: 550px;
    }

    .second-day-title > h2 {
        font-size: 70px;
        font-weight: 700;
        margin-bottom: -5px;
    }

    .second-day-title > h3 {
        font-size: 32px;
        font-weight: 700;
    }

    .second-day-title > p {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 19px;
    }

    .second-day-left > img {
        width: 435px;
        display: block;
        margin: 0 0 35px 60px;
    }

    .second-day-left > p {
        width: 400px;
        margin-left: 90px;
        padding: 30px;
        border-radius: 20px;
        background-color: var(--card-bg-color);
    }

    /* THIRD DAY */
    .third-day {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 30px 90px;
        overflow: hidden;
    }

    .third-day-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .third-day-title > h2 {
        font-size: 70px;
        font-weight: 700;
        margin-bottom: -5px;
        margin-top: 30px;
    }

    .third-day-title > h3 {
        font-size: 32px;
        font-weight: 700;
    }

    .third-day-title > p {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 19px;
    }

    .third-day-left > p {
        margin-bottom: 8px;
        width: 500px;
        padding: 30px;
        border-radius: 20px;
        background-color: var(--card-bg-color);
    }

    .third-day-right > img {
        width: 500px;
        transform: translateX(50px);
        z-index: 0;
        position: relative;
    }

    /* FOURTH DAY */
    .fourth-day {
        width: 100vw;
        height: 100vh;
        display: flex;
        overflow-x: hidden;
    }

    .fourth-day-text {
        width: 40%;
        padding: 50px 90px;
        position: relative;
    }

    .fourth-day-image1 {
        width: 60%;
        transform: translateX(130px);
    }

    .fourth-day-image2 {
        width: 200px;
        display: block;
        position: absolute;
        top: 0;
        right: -400px;
        z-index: 2;
    }

    .fourth-day-image3 {
        width: 350px;
        display: block;
        position: absolute;
        bottom: -25px;
        left: 250px;
    }

    .day-four {
        font-size: 70px;
        font-weight: 700;
        margin-bottom: -20px;
    }

    .day-four-loc {
        font-size: 32px;
        font-weight: 700;
    }

    .day-four-date {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 19px;
    }

    .day-four-context {
        font-size: 18px;
        font-weight: 500;
        width: 550px;
        padding: 30px;
        border-radius: 20px;
        background-color: var(--card-bg-color);
    }

    /* FIFTH AND SIXTH DAY */
    .fifth-six-day {
        width: 100%;
        padding: 50px 90px;
        display: flex;
        flex-direction: column;
    }

    .fifth-six-title > h2 {
        font-size: 70px;
        font-weight: 700;
        margin-bottom: -20px;
    }

    .fifth-six-title > h3 {
        font-size: 32px;
        font-weight: 700;
    }

    .fifth-six-title > .date {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 19px;
    }

    .fifth-bottom {
        display: flex;
        column-gap: 100px;
        align-items: center;
    }

    .fifth-bottom-left > p {
        padding: 30px;
        border-radius: 20px;
        background-color: var(--card-bg-color);
        width: 400px;
    }

    .fifth-bottom-right {
        display: flex;
        flex-direction: column;
    }

    .fifth-bot-top {
        display: flex;
    }

    .fifth-bot-bot {
        margin-top: -100px;
        display: flex;
    }

    .fifth-day-img1,
    .fifth-day-img2,
    .fifth-day-img3,
    .fifth-day-img4 {
        width: 300px;
    }

    .fifth-day-img1,
    .fifth-day-img3 {
        margin-right: -50px;
    }
}